<form>
  <label for='title'>
  <input type='text' id='title' name='post[title]'>
  <label for='body'>
  <textarea id='body' name='post[body]'></textarea>
  <input type='submit' value='Submit'>
</form>