<h3> Hello </h3>
<a href="#/posts/new">Create New Post</a>
<ul>
  <% posts.each(function(post) { %>
    <li>
      <a href="#/posts/<%= post.id %>" data-post-id="<%= post.id %>">
        <%= post.escape('title') %>
      </a>
      <button class='delete-post-button' data-post-id="<%= post.id %>">
        Delete
      </button>
    </li>
  <% }); %>
</ul>